@model LoggedOutViewModel

<div class="page-header">
    <h1>
        Logout
        <small>You are now logged out</small>
    </h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            Click <a id="logout-redirect-button" href="@Model.PostLogoutRedirectUri">here</a> to return to the
            <span>@Model.ClientName</span> application.
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe style="display:none" width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            window.location.href = $('#logout-redirect-button').attr('href');
        })            
    </script>
}
